In [ ]:
import os
folder= os.getcwd()
subfolders =os.walk(folder)
for i in subfolders:
    print(i)

In [110]:
for i in range(2):
    while True:
        print(i)
        break

0
1

In [79]:
# importing libraries
import pandas as pd

# Storing data in dictionary
details = {
	'Column1': [1, 2, 3, 4,5],
	'Column2': [7, 25, 4,4, 9],
	'Column3': [3, 8, 10, 30,5],
	'Column4': [7, 4, 25, 9,5],
}

# creating a Dataframe object
df = pd.DataFrame(details)
df1=df.sort_values(by=['Column4']).reset_index().iloc[:,1:].drop_duplicates(subset="Column2")
display(df1)
df2=df.sort_values(by=['Column2']).reset_index().iloc[:,1:]
display(df2)
display(df2['Column4'])
display(df1['Column2'])
df2['Column4'].equals(df1['Column2']) # Returns True

# df['Column1'].equals(df['Column2']) Returns False

   Column1  Column2  Column3  Column4
0        2       25        8        4
1        5        9        5        5
2        1        7        3        7
3        4        4       30        9

   Column1  Column2  Column3  Column4
0        3        4       10       25
1        4        4       30        9
2        1        7        3        7
3        5        9        5        5
4        2       25        8        4

0    25
1     9
2     7
3     5
4     4
Name: Column4, dtype: int64

0    25
1     9
2     7
3     4
Name: Column2, dtype: int64

False

In [22]:
import os
 
rootdir = os.getcwd()
for it in os.scandir(rootdir):
    if it.is_dir() and it.path.split('\\')[-1] =="SS_MIG_EDS_CTM_IR":
        print(it)

<DirEntry 'SS_MIG_EDS_CTM_IR'>

In [ ]:
import os
import pandas as pd 
cwd = os.getcwd()
SS_MIG_EDS_CTM_IR=[]
SS_MIG_EDS_CTM_IR_AUTHUSERS=[]
SS_MIG_EDS_CTM_IR_log=[]
SS_MIG_EDS_CTM_IR_PROCESSED=[]
for rootdir, dirs, files in os.walk(cwd):
    if rootdir.split('\\')[-1] =="SS_MIG_EDS_CTM_IR":
        for file in files:
            SS_MIG_EDS_CTM_IR.append(file)
    if rootdir.split('\\')[-1] =="SS_MIG_EDS_CTM_IR_AUTHUSERS":
        for file in files:
            SS_MIG_EDS_CTM_IR_AUTHUSERS.append(file)
    if rootdir.split('\\')[-1] =="SS_MIG_EDS_CTM_IR_log":
        for file in files:
            SS_MIG_EDS_CTM_IR_log.append(file)
    if rootdir.split('\\')[-1] =="SS_MIG_EDS_CTM_IR_PROCESSED":
        for file in files:
            SS_MIG_EDS_CTM_IR_PROCESSED.append(file)
for i in SS_MIG_EDS_CTM_IR:
    if i in SS_MIG_EDS_CTM_IR_AUTHUSERS:
        data_IR=pd.read_csv(os.path.join(cwd+"\\SS_MIG_EDS_CTM_IR\\",i),header=2,usecols=[0,1] ).drop_duplicates(subset=data_IR.columns[0], keep="first")
        data_auth=pd.read_csv(os.path.join(cwd+"\\SS_MIG_EDS_CTM_IR_AUTHUSERS\\",i),header=2 ,usecols=[0,1]).drop_duplicates(subset=data_auth.columns[0], keep="first")
        match=pd.merge(data_IR[data_IR.columns[0]],data_auth, on=data_IR.columns[0],how='inner')
        common1 = data_auth.merge(data_IR,on=data_IR.columns[0])
        not_matched1=data_auth[(~data_auth[data_IR.columns[0]].isin(common1[data_IR.columns[0]]))].reset_index().iloc[:,1:]
        not_matched2=data_IR[(~data_IR[data_auth.columns[0]].isin(common1[data_IR.columns[0]]))].reset_index().iloc[:,1:]
        not_matched = pd.concat([not_matched1,not_matched2]).reset_index().iloc[:,1:]
        display(match)
        display(not_matched)

             CTM Folder Name/Pattern   Promotion Rule
0  BI_INF_UAT_MDLR_ACKEMAIL_WKLY_JS1  EDMUAT-TO-EDMIR

            CTM Folder Name/Pattern   Promotion Rule
0  BI_INFUAT_MDLR_ACKEMAIL_WKLY_JS1              NaN
1  BI_INF_UAT_MDL_ACKEMAIL_WKLY_JS1  EDMUAT-TO-EDMIR